In [2]:
#importing the required modules
import os
import time
import pandas as pd

In [3]:
#get a merged list for all the informations about alignments
start = time.time()
features = []
with open (r'Z:\balint\numt\Michael\data/significant_alignments.fasta') as infile:
    content = infile.readlines()
    for index, line in enumerate(content):
        if 'score' in line:
            score = int(line.rsplit()[1].split('=')[1])
            eg2_value = float(line.rsplit()[2].split('=')[1])
            e_value = float(line.rsplit()[3].split('=')[1])
            #genomic informations
            genomic = content[index + 1]
            genomic_id = genomic.rsplit()[1]
            genomic_start = int(genomic.rsplit()[2])
            genomic_length = int(genomic.rsplit()[3])
            genomic_strand = genomic.rsplit()[4]
            genomic_size = int(genomic.rsplit()[5])
            genomic_sequence = genomic.rsplit()[6]
            #mitochondrial informations
            mitochondrial = content[index + 2]
            mitochondrial_start = int(mitochondrial.rsplit()[2])
            mitochondrial_length = int(mitochondrial.rsplit()[3])
            mitochondrial_strand = mitochondrial.rsplit()[4]
            mitochondrial_sequence = mitochondrial.rsplit()[6]
            features.append([score, eg2_value, e_value, genomic_id, genomic_start,
                            mitochondrial_start, genomic_length, mitochondrial_length, genomic_strand,
                            mitochondrial_strand, genomic_size, genomic_sequence,
                             mitochondrial_sequence])
end = time.time()
runtime = (end - start) / 60#minutes
runtime

0.012026079495747884

In [5]:
#create dataframe and name columns
alignment_df = pd.DataFrame(features)
alignment_df.columns = ['score', 'eg2_value', 'e_value', 'g_id', 'g_start', 'mt_start',
                        'g_length', 'mt_length', 'g_strand', 'mt_strand', 'g_size',
                        'g_sequence', 'mt_sequence']

In [6]:
alignment_df.head()

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence
0,17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...
1,17245,0.0,0.0,MT,0,17245,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...
2,3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...
3,3398,0.0,0.0,1,114731432,24221,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...
4,3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...

In [8]:
#drop the duplicates where the genomic start ('g_start') and genomic length ('g_length') are equal but the
#that means that we have the alignments from the duplicated mitochondria
updated_alignments = alignment_df.drop_duplicates(subset = ['g_start', 'g_length'])
updated_alignments.head()

,score,eg2_value,e_value,g_id,g_start,mt_start,g_length,mt_length,g_strand,mt_strand,g_size,g_sequence,mt_sequence
0,17245,0.0,0.0,MT,0,0,17245,17245,+,+,17245,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...,GTTAATGTAGCTTAACAACAAAGCAAAGCACTGAAAATGCTTAGAT...
2,3398,0.0,0.0,1,114731432,6976,4680,4681,+,+,194850757,taGTAAAATTATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...,TAGTAAAACCATTACATAACTTTGTCGAAGTTAATTTATAGGTTCA...
4,3120,0.0,0.0,GL019308,67160,883,4892,4945,+,+,88228,CAAGGCCATGAAGCATGCACACACTGCCCATCGCTCTCCTCAAACA...,CAAGGCCATGAAGCACGCACACACCGCCCGTCACCCTCCTCAAGTG...
6,1888,0.0,0.0,GL019308,62527,12805,3439,3462,+,+,88228,AATTATTCATAGCCTCAATGATGAACAAGACATCCAAAAAACAGGA...,AATTATTCACAGCCTcaaTGATGAACAGGATATCCGAAAGATAGGC...
8,1824,0.0,0.0,AAGW02081594,14016,6061,3040,3073,+,+,24576,TTCTTTGGACACCCTGAGGTATATATTCTTATCCTTCCAGGATTCG...,TTTTTCGGGCACCCCGAAGTATATATTCTTATTCTTCCAGGATTTG...

In [9]:
updated_alignments.to_csv(r'Z:\balint\numt\Michael\data/up_lastal_array.csv', index = False)